JFLTE-GPE-*.zip
temp/*
.fuse_*

system/framework/android.policy.jar
system/framework/services.jar
system/framework/framework-res.apk
system/framework/framework.jar
system/priv-app/SystemUI/*

aroma/apps/contacts_dialer/invertedstock/GoogleDialer/GoogleDialer.apk
aroma/apps/contacts_dialer/invertedstock/GoogleContacts/GoogleContacts.apk

aroma/apps/contacts_dialer/invertedteal/GoogleDialer/GoogleDialer.apk
aroma/apps/contacts_dialer/invertedteal/GoogleContacts/GoogleContacts.apk

build/
dist/
tmp/

tools/bin/.JavaPATH
*.JavaPATH
tools/bin/.JavaPATH
